.bartender {
  border-radius: 50%;
  height: 255px;
  width: 250px;
  margin: 40px;
}


h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.tips {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding: 10px;
  // background-color:
}

.tipstext {
  flex-direction: column;
  padding-top: 120px;
}

#wrapperqshow {
  background-img: asset-url('greenlemon.jpg')
}

.buttondrinks {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin: 20px;
}

.buttondrinks a {
  margin: 10px;

}
